<h1>Welcome <%=@user.username.capitalize%></h1>

<%= form_tag("/lists/new", method: :get) do %>
<p>
<%= submit_tag "Add a List" %>
<% end %>

<%= form_tag("/lists", method: :get) do %>
<p>
<%= submit_tag "All Lists" %>
<% end %>

<%= form_tag("/logout") do %>
<p>
<%= submit_tag "Logout" %>
<% end %>